
/* start of marquee css*/
body {
	height: 100%;
	display: flex; 
	align-items: center;
	justify-content: center;
	background-color: rgb(250, 245, 244);
}

.box {
	display: flex; 
}

.box .inner {
	width: 400px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: rgb(51, 43, 43);
	color: rgb(24, 194, 224);
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: rgb(24, 194, 224);
	color: rgb(20, 11, 1);
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}
/* end of marquee css */

/* new fighter form css */
.container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: rgb(24, 194, 224);
    opacity: .8;
  }
  
  .add-fighter-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: #050505;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #1a1818 solid 1px;
    color: #4be0d3;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
